# Ignorar entorno virtual de Python
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# --- DATOS ---
# Ignorar el contenido de la carpeta de datos...
datos_csv/*

# ...EXCEPTO nuestro archivo de configuración manual
!datos_csv/efficiency_manual.csv

# Ignorar los archivos de Excel/CSV descargados (por si acaso)
*.xls
*.xlsx
datos_csv/precio_btc.csv
datos_csv/hashrate_btc.csv
datos_csv/dificultad_btc.csv
datos_csv/transacciones_btc.csv
datos_csv/ingresos_mineros_btc.csv
datos_csv/precio_electricidad_eia.xls